<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore database="SqlServer">
    <processors>
      <uiReturnFieldEditorValues>
        <processor mode="on" type="Sitecore.Shell.Applications.ContentManager.ReturnFieldEditorValues.Validate" set:type="Sitecore.Support.Shell.Applications.ContentManager.ReturnFieldEditorValues.Validate" />
      </uiReturnFieldEditorValues>
    </processors>
    <settings>
      <!-- PARAMETERS TEMPLATE ROOTS 
	     pipe separated locatinos in the content tree where the Parameter template valueas are stored-->
      <setting name="ParametersTemplateRoots" value="templates/User Defined|templates/System/Layout/Rendering Parameters" />
    </settings>
  </sitecore>
</configuration>